<% if user_signed_in? %>
  <% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: groups_path, local: true, method: :get do |f| %>
      <%= f.text_field :group_name, value: params[:group_name] %>
       <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
<%= render "groups/groups_user",group: @group %>
<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>グループ作成</h2>
      <%= form_with model: @group, local: true do |f| %>
        <div class="form-group">
          <%= f.label :group_name %>
          <%= f.text_field :group_name, class: "form-control" %>
        </div>

        <%= f.submit "Create Group", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
  <table class="table">
    <thead>
      <tr>
        <th>グループ名</th>
        <th>詳細</th>
      </tr>
    </thead>

    <tbody>
     <% if @groups.present? && @groups.any? %>
        <% @groups.each do |group| %>
           <tr>
             <td><%= group.group_name %></td>
             <td><%= link_to "詳細", group_path(group) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan=2>グループはまだありません。</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<% end %>