<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <th class="table-light">グループ名</th>
            <td class="table-light"><%= @group.group_name %></td>
          </tr>
        </tbody>
      </table>
      <% if @users.include?(current_user) %>
        <%= link_to "このグループを退会する", group_entry_path(@group,@entry), method: :delete,
                                              data: { confirm: "本当に退会しますか？" },
                                              class: "btn btn-danger" %>
      <% else %>
        <%= form_with model: @entry, url: group_entries_path(@group.id) do |f| %>
          <%= f.hidden_field :group_id %>
          <%= f.submit "このグループに参加する", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <% if @users.include?(current_user) %>
        <div class="row">
          <% @messages.each do |message| %>
            <div class="col-8 <%= "offset-4" if message.user == current_user %>">
              <div class="card my-2">
                <div class="card-body" style="background-color: #CCFF99;">
                  <%= message.body %>
                  <% if message.favorited_by?(current_user) %>
         <p>
          <%= link_to message_favorite_path(message), method: :delete do %>
          ♥<%= message.favorites.count %> いいね
          <% end %>
         </p>
      <% else %>
          <p>
            <%= link_to message_favorite_path(message), method: :post do %>
            ♡<%= message.favorites.count %> いいね
            <% end %>
          </p>
      <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <h3>グループに参加すると、メッセージを閲覧・送信できます。</h3>
      <% end %>
      <hr>
      <% if @users.include?(current_user) %>
        <%= form_with model: @message, url: group_messages_path, class: "my-4" do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :group_id %>
          <%= f.text_area :body, rows: 3, placeholder: "メッセージを送信できます", class: "form-control" %>
          <%= f.submit '送信', class: 'btn-sm btn-success my-2' %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
