 <% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :task %>
   <% if current_page?(controller: 'users') %>
    <%= f.select :range, ( ['user','date']) %>
   <% else %>
      <%= f.select :range, ( ['task','date']) %>
   <% end %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<%= month_calendar(events: @tasks) do |date, tasks| %>
  <%= date.day %><br>
  <% tasks.each do |task| %>
    <%= link_to task.task_title, task_path(task.id) %>
  <% end %>
<% end %>

<h1 style="color: blue;">予定投稿フォーム</h1>
<%= form_with model: @task, html: { class: "custom-form" } do |f| %>

<h3 class="font-weight-bold">タスク名</h3>
<%= f.text_field :task_title %>

<h3 class="font-weight-bold">出勤時間</h3>
<%= f.text_field :working_hours %>

 <h3 class="font-weight-bold">日付</h3>
  <%= f.date_field :display_date %>


<%= f.submit '登録' %>
<% end %>



