<%= render "groups/groups_user",group: @group %>
<div class="container">
  <div class="row">
    <div class="col-md-5 lg-6 ml-6"></div>
     <h2>Users</h2>
      <%= link_to "グループを作成する", new_group_path %>
      <%= render 'index', users: @users %>
  <table class="table">
    <thead>
      <tr>
        <th>| 氏名</th>
        <th> | 自己紹介</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.introduction %></td>
          <td><%= link_to "詳細", user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    </div>
  </div>
</div>




<!--<div class="container">-->
<!--  <div class="row">-->

<!--    <div class="col-3">-->
<!--      <span>サイドバー</span>-->
<!--    </div>-->


<!--    <div class="col-9">-->
<!--      <span>こんてんつ</span>-->

<!--      <div class="row">-->
<!--        <div class="col-12"><span>内容①</span></div>-->
<!--        <div class="col-12"><span>2</span></div>-->
<!--        <div class="col-12"><span>3</span></div>-->
<!--        <div class="col-12"><span>4</span></div>-->
<!--        <div class="col-12"><span>5</span></div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->