 <% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: tasks_path, local: true, method: :get do |f| %>
      <%= f.text_field :task_title, value: params[:task_title] %>
       <%= f.select :start_date, @months,
                           { selected: (Date.parse(params[:start_date]).to_s + " 00:00:00 +0900" if params[:start_date].present?), include_blank: "現在の月"},
                           {} %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<%= month_calendar(events: @tasks) do |date, tasks| %>
  <%= link_to date.day, day_tasks_path(date: date) %><br>
  <% tasks.each do |task| %>
    <%= link_to task.task_title, task_path(task.id) %>
  <% end %>
<% end %>

<h1 style="color: blue;">予定投稿フォーム</h1>
<%= form_with model: @task, html: { class: "custom-form" } do |f| %>

<h3 class="font-weight-bold">タスク名</h3>
<%= f.text_field :task_title %>

<h3 class="font-weight-bold">出勤時間</h3>
<%= f.datetime_field :start_time %>

 <h3 class="font-weight-bold">日付</h3>
  <%#= f.date_field :display_date %>


<%= f.submit '登録' %>
<% end %>



