  <% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: users_path, local: true, method: :get do |f| %>
      <%= f.text_field :user_name, value: params[:user_name],placeholder: "ユーザー名"%>
      <%= f.text_field :group_name, value: params[:group_name],placeholder: "グループ名" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>


<%= render "/public/groups/groups_user",group: @group %>
<div class="container">
  <div class="row">



   <div class="col-md-10">
     <h2>Users</h2>
   </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-light table-dark"> 氏名</th>
        <th class="text-light table-dark">  自己紹介</th>
        <th class="table-dark"></th>
        <th class="table-dark"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="table-light"><%= user.name %></td>
          <td class="table-light"><%= user.introduction %></td>
          <td class="table-light"><%= link_to "詳細", user_path(user) %></td>
          <td class="table-light"><%= link_to "削除", user_path(user), method: :delete, data: { confirm: "本当に削除しますか？"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    </div>
  </div>
</div>



