  <% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: users_path, local: true, method: :get do |f| %>
      <%= f.text_field :user_name, value: params[:user_name] %>
      <%= f.text_field :group_name, value: params[:group_name] %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>


<%= render "/public/groups/groups_user",group: @group %>
<div class="container">
  <div class="row">


   <div class="col-md-10">
     <h2>Users</h2>
   </div>
  <table class="table">
    <thead>
      <tr>
        <th>| 氏名</th>
        <th> | 自己紹介</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.introduction %></td>
          <td><%= link_to "詳細", user_path(user) %></td>
          <td><%= link_to "削除", destroy_user_session_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    </div>
  </div>
</div>



