<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <th class="table-light">氏名</th>
            <td class="table-light"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table-light">自己紹介</th>
            <td class="table-light"><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <% if @user == current_user %>
        <%= link_to '編集', edit_user_path(@user), class: 'btn-sm btn-primary' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <% @messages.each do |message| %>
          <div class="col-8 <%= "offset-4" if message.user == current_user %>">
            <div class="card my-2">
              <div class="card-body"  style="background-color: #CCFF99;">
                <%= message.body %>
      <% if message.favorited_by?(current_user) %>
         <p>
          <%= link_to message_favorite_path(message), method: :delete do %>
          ♥<%= message.favorites.count %> いいね
          <% end %>
         </p>
      <% else %>
          <p>
            <%= link_to message_favorite_path(message), method: :post do %>
            ♡<%= message.favorites.count %> いいね
            <% end %>
          </p>
      <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

<div class="col-8">
      <hr>
      <% if @user != current_user %>
        <%= form_with model: @message, class: "my-4" do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :receiver_id,value: @user.id %>
          <%= f.text_area :body, rows: 3, placeholder: "直接メッセージを送信できます", class: "form-control" %>
          <%= f.submit '送信', class: 'btn-sm btn-success my-2' %>

        <% end %>
      </div>

      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-6 group-list bg-light">
　<h4>グループ所属名</h4>
　<% if @groups.any? %>
　　<% @groups.each do |group| %>
    <%= link_to group.group_name,group_path(group) %><br>
  　<% end %>
<% else %>
no-group
<% end %>
</div>